@model IEnumerable<QuanLyShop.Models.EF.Product>

<style>
    .product_image_sale img {
        width: 200px; /* Chiều rộng cố định */
        height: 150px; /* Chiều cao cố định */
        object-fit: cover; /* Đảm bảo hình ảnh được cắt gọn nhưng vẫn giữ đúng tỷ lệ */
        border-radius: 5px; /* Bo góc (tuỳ chọn) */
    }

    .product_info_sale {
        text-align:center;
    }
</style>

@if (Model != null && Model.Any())
{
    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2>Best Sellers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_slider_container">
                        <div class="owl-carousel owl-theme product_slider">

                            @foreach (var item in Model)
                            {
                                var defaultImage = item.ProductImage?.FirstOrDefault(x => x.IsDefault)?.Image ?? "default-image.jpg"; // 'default-image.jpg' là hình ảnh fallback nếu không tìm thấy hình mặc định.

                                <div class="owl-item product_slider_item">
                                    <div class="product-item @item.ProductCategory.Alias">
                                        <div class="product discount product_filter">
                                            <div class="product_image_sale">
                                                <img src="@defaultImage" alt="@item.Title">
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            @if (item.PriceSale > 0)
                                            {
                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                            }
                                            @* <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>*@
                                            <div class="product_info_sale">
                                                <h6 class="product_name"><a href="chi-tiet/@item.Alias/@item.Id">@item.Title</a></h6>
                                                @if (item.PriceSale > 0)
                                                {
                                                    <div class="product_price">@item.PriceSale VND<span>@item.Price VND</span></div>

                                                }
                                                else
                                                {
                                                    <div class="product_price">@item.Price VND</div>
                                                }
                                            </div>
                                        </div>
                                        <div class="red_button add_to_cart_button"><a href="#" class="btnAddToCart" data-id="@item.Id">add to cart</a></div>
                                    </div>
                                </div>

                            }

                        </div>

                        <!-- Slider Navigation -->

                        <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
